ion-header .button-md{
    vertical-align: middle
}
.add-record-header ion-title{
    display: inline-flex
}
.add-record-header .btn-save{
    position: absolute;
    box-shadow: none;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    height: 100%;
}

ion-input.input-payment:before{
    content: "$";
    font-size: 20px;
    vertical-align: middle;
    position: absolute;
    bottom: 12px;
}   
ion-input.input-payment input{
    margin: 13px 8px 13px 18px;
}
#edad{
    display: inline;
    float: right;
}