.list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    position: absolute;
   	margin-bottom: 16px !important;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  h2{
  	display: inline-block;
    text-transform: capitalize;
    text-rendering: optimizeSpeed;
  }
  h2.paid:after, h2.pending:after, h2.unpaid:after{
  	content: '';
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin: 2px 7px;
  }
  h2.paid:after{
    background: #46c35f;
  }
  h2.pending:after{
    background: #FFC107;
  }
  h2.unpaid:after{
    background: #fa424a;
  }

  .item-md p{
  	margin-right: 50px;
  }
}
.list-md ion-item-options .button{
    margin: 0 !important;
    height: auto !important;
}